nodered/bkb_desk_pet_v6_lite_flow.json
[
  {
    "id": "bkb_tab_v6_lite",
    "type": "tab",
    "label": "BKB Desk Pet v6 Lite",
    "disabled": false,
    "info": "Mac Brain publisher only. ESP32 Pet Runtime owns display, face animation, fan control, MacLink, and failsafe."
  },
  {
    "id": "bkb_mqtt_broker_v6_lite",
    "type": "mqtt-broker",
    "name": "BKB-MQTT v6",
    "broker": "127.0.0.1",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "bkb/desk1/mac/heartbeat",
    "closeQos": "0",
    "closeRetain": "true",
    "closePayload": "{\"v\":1,\"online\":false}",
    "closeMsg": {},
    "willTopic": "bkb/desk1/mac/heartbeat",
    "willQos": "0",
    "willRetain": "true",
    "willPayload": "{\"v\":1,\"online\":false}",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "bkb_init_v6_lite",
    "type": "inject",
    "z": "bkb_tab_v6_lite",
    "name": "初始化 v6 config/state",
    "props": [
      {
        "p": "bkb_event",
        "v": "init",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "x": 170,
    "y": 80,
    "wires": [
      [
        "bkb_controller_v6_lite"
      ]
    ]
  },
  {
    "id": "bkb_tick_v6_lite",
    "type": "inject",
    "z": "bkb_tab_v6_lite",
    "name": "2.5秒 Mac 状态节拍",
    "props": [
      {
        "p": "bkb_event",
        "v": "tick",
        "vt": "str"
      }
    ],
    "repeat": "2.5",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "x": 170,
    "y": 140,
    "wires": [
      [
        "bkb_controller_v6_lite"
      ]
    ]
  },
  {
    "id": "bkb_http_in_v6_lite",
    "type": "http in",
    "z": "bkb_tab_v6_lite",
    "name": "Hammerspoon locked/app",
    "url": "/bkb/mac/event",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 220,
    "wires": [
      [
        "bkb_controller_v6_lite"
      ]
    ]
  },
  {
    "id": "bkb_console_text_in_v6_lite",
    "type": "http in",
    "z": "bkb_tab_v6_lite",
    "name": "Console text command",
    "url": "/bkb/console/text",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 280,
    "wires": [
      [
        "bkb_controller_v6_lite"
      ]
    ]
  },
  {
    "id": "mac_esp32_console_status_in_v6_lite",
    "type": "http in",
    "z": "bkb_tab_v6_lite",
    "name": "Mac-esp32 status query",
    "url": "/mac-esp32/console/status",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 255,
    "wires": [
      [
        "bkb_controller_v6_lite"
      ]
    ]
  },
  {
    "id": "mac_esp32_console_text_in_v6_lite",
    "type": "http in",
    "z": "bkb_tab_v6_lite",
    "name": "Mac-esp32 text command",
    "url": "/mac-esp32/console/text",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 285,
    "wires": [
      [
        "bkb_controller_v6_lite"
      ]
    ]
  },
  {
    "id": "bkb_console_bitmap_in_v6_lite",
    "type": "http in",
    "z": "bkb_tab_v6_lite",
    "name": "Console bitmap command",
    "url": "/bkb/console/bitmap",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 340,
    "wires": [
      [
        "bkb_controller_v6_lite"
      ]
    ]
  },
  {
    "id": "mac_esp32_console_bitmap_in_v6_lite",
    "type": "http in",
    "z": "bkb_tab_v6_lite",
    "name": "Mac-esp32 bitmap command",
    "url": "/mac-esp32/console/bitmap",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 345,
    "wires": [
      [
        "bkb_controller_v6_lite"
      ]
    ]
  },
  {
    "id": "bkb_console_bitmap_page_in_v6_lite",
    "type": "http in",
    "z": "bkb_tab_v6_lite",
    "name": "Console bitmap page command",
    "url": "/bkb/console/bitmap/page",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 200,
    "y": 400,
    "wires": [
      [
        "bkb_controller_v6_lite"
      ]
    ]
  },
  {
    "id": "mac_esp32_console_bitmap_page_in_v6_lite",
    "type": "http in",
    "z": "bkb_tab_v6_lite",
    "name": "Mac-esp32 bitmap page",
    "url": "/mac-esp32/console/bitmap/page",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 405,
    "wires": [
      [
        "bkb_controller_v6_lite"
      ]
    ]
  },
  {
    "id": "bkb_console_scene_in_v6_lite",
    "type": "http in",
    "z": "bkb_tab_v6_lite",
    "name": "Console scene command",
    "url": "/bkb/console/scene",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 460,
    "wires": [
      [
        "bkb_controller_v6_lite"
      ]
    ]
  },
  {
    "id": "mac_esp32_console_scene_in_v6_lite",
    "type": "http in",
    "z": "bkb_tab_v6_lite",
    "name": "Mac-esp32 scene command",
    "url": "/mac-esp32/console/scene",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 465,
    "wires": [
      [
        "bkb_controller_v6_lite"
      ]
    ]
  },
  {
    "id": "bkb_console_device_in_v6_lite",
    "type": "http in",
    "z": "bkb_tab_v6_lite",
    "name": "Console device command",
    "url": "/bkb/console/device",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 520,
    "wires": [
      [
        "bkb_controller_v6_lite"
      ]
    ]
  },
  {
    "id": "mac_esp32_console_device_in_v6_lite",
    "type": "http in",
    "z": "bkb_tab_v6_lite",
    "name": "Mac-esp32 device command",
    "url": "/mac-esp32/console/device",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 525,
    "wires": [
      [
        "bkb_controller_v6_lite"
      ]
    ]
  },
  {
    "id": "bkb_console_netconfig_in_v6_lite",
    "type": "http in",
    "z": "bkb_tab_v6_lite",
    "name": "Console network config",
    "url": "/bkb/console/netconfig",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 580,
    "wires": [
      [
        "bkb_controller_v6_lite"
      ]
    ]
  },
  {
    "id": "mac_esp32_console_netconfig_in_v6_lite",
    "type": "http in",
    "z": "bkb_tab_v6_lite",
    "name": "Mac-esp32 network config",
    "url": "/mac-esp32/console/netconfig",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 585,
    "wires": [
      [
        "bkb_controller_v6_lite"
      ]
    ]
  },
  {
    "id": "bkb_controller_v6_lite",
    "type": "function",
    "z": "bkb_tab_v6_lite",
    "name": "Mac Brain v6 Publisher",
    "func": "// BKB Desk Pet v6 Lite Mac Brain publisher.\nconst STATUS_INTERVAL_MS = 2500;\nconst CONFIG_INTERVAL_MS = 5 * 60 * 1000;\nconst now = Date.now();\n\nfunction mqtt(topic, payload, retain = true) {\n  return { topic, payload: JSON.stringify(payload), retain, qos: 0 };\n}\n\nfunction httpOk(text = \"OK\") {\n  const r = Object.assign({}, msg);\n  r.statusCode = 200;\n  r.headers = { \"content-type\": \"text/plain\" };\n  r.payload = text;\n  return r;\n}\n\nfunction httpJson(payload, statusCode = 200) {\n  const r = Object.assign({}, msg);\n  r.statusCode = statusCode;\n  r.headers = { \"content-type\": \"application/json\" };\n  r.payload = JSON.stringify(payload);\n  return r;\n}\n\nfunction parsePayload(x) {\n  if (!x) return {};\n  if (typeof x === \"object\") return x;\n  try { return JSON.parse(x); } catch (_) { return {}; }\n}\n\nfunction clamp(n, lo, hi) {\n  n = Number(n);\n  if (!Number.isFinite(n)) n = 0;\n  return Math.max(lo, Math.min(hi, n));\n}\n\nfunction isNight(time) {\n  const m = String(time || \"\").match(/^(\\d{1,2}):/);\n  const h = m ? Number(m[1]) : new Date().getHours();\n  return h >= 23 || h < 8;\n}\n\nfunction modeHint(s) {\n  if (s.locked) return \"locked\";\n  if (isNight(s.time) && Number(s.idle_s || 0) >= 60) return \"night\";\n  if (Number(s.temp_c) >= 80) return \"hot\";\n  if (Number(s.cpu_pct || 0) >= 85 || Number(s.mem_pct || 0) >= 90) return \"busy\";\n  if (Number(s.idle_s || 0) >= 180) return \"idle\";\n  const app = String(s.app || \"\").toLowerCase();\n  if (app.includes(\"terminal\") || app.includes(\"code\") || app.includes(\"xcode\") || app.includes(\"arduino\") || app.includes(\"node-red\")) return \"focus\";\n  return \"active\";\n}\n\nfunction configPayload() {\n  return {\n    v: 1,\n    screen: {\n      locked: \"off\",\n      offline: \"face\",\n      night_idle: \"off\",\n      sleep_screen_off_ms: 1200000\n    },\n    fan: {\n      mode: \"auto\",\n      offline_pct: 20,\n      failsafe_pct: 80,\n      curve: [[45,0],[55,25],[65,40],[75,65],[85,85],[95,100]]\n    }\n  };\n}\n\nfunction publishConfigIfDue(force) {\n  const last = Number(flow.get(\"bkb_v6_last_config_ms\") || 0);\n  if (!force && now - last < CONFIG_INTERVAL_MS) return [];\n  flow.set(\"bkb_v6_last_config_ms\", now);\n  return [mqtt(\"bkb/desk1/pet/config\", configPayload(), true)];\n}\n\nfunction buildState(raw) {\n  const last = flow.get(\"bkb_v6_last_status\") || {};\n  const lockedFlow = flow.get(\"bkb_v6_locked\");\n  const appFlow = flow.get(\"bkb_v6_app\") || \"\";\n  const s = Object.assign({}, last, raw || {});\n\n  const locked = typeof lockedFlow === \"boolean\" ? lockedFlow : Boolean(s.locked);\n  const app = appFlow || s.app || \"Unknown\";\n  const temp = (s.temp_c === null || s.temp_c === undefined || s.temp_c === \"\") ? null : Number(s.temp_c);\n  const tempValid = Number.isFinite(temp) && temp >= 10 && temp <= 110;\n\n  const state = {\n    v: 1,\n    ts: Number(s.ts || Math.floor(now / 1000)),\n    online: true,\n    locked,\n    idle_s: clamp(s.idle_s, 0, 86400),\n    app: String(app).substring(0, 64),\n    cpu_pct: clamp(s.cpu_pct, 0, 100),\n    mem_pct: clamp(s.mem_pct, 0, 100),\n    temp_c: tempValid ? Math.round(temp) : null,\n    thermal_source: tempValid ? String(s.thermal_source || \"unknown\") : \"unavailable\",\n    time: String(s.time || \"--:--\").substring(0, 8)\n  };\n  state.mode_hint = modeHint(state);\n  flow.set(\"bkb_v6_last_state\", state);\n  return state;\n}\n\nfunction publishStateAndHeartbeat(state) {\n  const seq = Number(flow.get(\"bkb_v6_seq\") || 0) + 1;\n  flow.set(\"bkb_v6_seq\", seq);\n  return [\n    mqtt(\"bkb/desk1/mac/state\", state, true),\n    mqtt(\"bkb/desk1/mac/heartbeat\", { v: 1, ts: Math.floor(now / 1000), seq, online: true }, true)\n  ];\n}\n\nconst ev = msg.bkb_event || \"\";\nconst topic = msg.topic || \"\";\nconst payload = parsePayload(msg.payload);\nconst reqUrl = msg.req && msg.req.url ? String(msg.req.url) : \"\";\n\nfunction routeIs(oldPath, newPath) {\n  return reqUrl === oldPath || reqUrl === newPath;\n}\n\nif (ev === \"init\") {\n  if (flow.get(\"bkb_v6_locked\") === undefined) flow.set(\"bkb_v6_locked\", true);\n  const state = buildState({});\n  const out = publishConfigIfDue(true).concat(publishStateAndHeartbeat(state));\n  node.status({ fill: \"green\", shape: \"dot\", text: \"v6 init\" });\n  return [out, { payload: \"refresh\" }, null];\n}\n\nif (topic === \"bkb/desk1/pet/state\") {\n  flow.set(\"bkb_v6_pet_state\", payload);\n  flow.set(\"bkb_v6_pet_state_ms\", now);\n  return [null, null, null];\n}\n\nif (topic === \"bkb/desk1/pet/telemetry\") {\n  flow.set(\"bkb_v6_pet_telemetry\", payload);\n  flow.set(\"bkb_v6_pet_telemetry_ms\", now);\n  return [null, null, null];\n}\n\nif (topic === \"bkb/desk1/state/online\") {\n  flow.set(\"bkb_v6_pet_online\", String(msg.payload || \"\") === \"online\");\n  flow.set(\"bkb_v6_pet_online_ms\", now);\n  return [null, null, null];\n}\n\nif (msg.req && routeIs(\"/bkb/console/status\", \"/mac-esp32/console/status\")) {\n  const petState = flow.get(\"bkb_v6_pet_state\") || {};\n  const macState = flow.get(\"bkb_v6_last_state\") || {};\n  const telemetry = flow.get(\"bkb_v6_pet_telemetry\") || {};\n  const onlineRaw = flow.get(\"bkb_v6_pet_online\");\n  const stateAge = now - Number(flow.get(\"bkb_v6_pet_state_ms\") || 0);\n  const telemetryAge = now - Number(flow.get(\"bkb_v6_pet_telemetry_ms\") || 0);\n  const freshAge = Math.min(stateAge, telemetryAge);\n  const online = onlineRaw === true && freshAge < 60000;\n  const petView = Object.assign({}, telemetry, petState);\n  return [null, null, httpJson({\n    ok: true,\n    online,\n    state_age_ms: freshAge,\n    pet_state: petView,\n    pet_telemetry: telemetry,\n    mac_state: macState\n  })];\n}\n\nif (msg.req && routeIs(\"/bkb/console/text\", \"/mac-esp32/console/text\")) {\n  const text = String(payload.text || \"\").substring(0, 240);\n  const style = String(payload.style || \"full\").substring(0, 16);\n  const duration = clamp(payload.duration_ms || 5000, 500, 30000);\n  if (!text) return [null, null, httpJson({ ok: false, error: \"missing text\" }, 400)];\n  const cmd = {\n    v: 1,\n    text,\n    duration_ms: duration,\n    style,\n    source: String(payload.source || \"console\").substring(0, 32)\n  };\n  node.status({ fill: \"blue\", shape: \"dot\", text: `console text ${duration}ms` });\n  return [[mqtt(\"bkb/desk1/cmd/text\", cmd, false)], null, httpJson({ ok: true })];\n}\n\nif (msg.req && routeIs(\"/bkb/console/bitmap\", \"/mac-esp32/console/bitmap\")) {\n  const cmd = {\n    v: 1,\n    id: String(payload.id || `console-${now}`).substring(0, 64),\n    w: clamp(payload.w || 128, 1, 128),\n    h: clamp(payload.h || 64, 1, 64),\n    format: String(payload.format || \"1bpp\"),\n    encoding: String(payload.encoding || \"base64\"),\n    duration_ms: clamp(payload.duration_ms || 6000, 500, 30000),\n    data: String(payload.data || \"\")\n  };\n  if (cmd.w !== 128 || cmd.h !== 64 || cmd.format !== \"1bpp\" || cmd.encoding !== \"base64\" || !cmd.data) {\n    return [null, null, httpJson({ ok: false, error: \"invalid bitmap command\" }, 400)];\n  }\n  node.status({ fill: \"blue\", shape: \"ring\", text: `console bitmap ${cmd.duration_ms}ms` });\n  return [[mqtt(\"bkb/desk1/cmd/bitmap\", cmd, false)], null, httpJson({ ok: true })];\n}\n\nif (msg.req && routeIs(\"/bkb/console/bitmap/page\", \"/mac-esp32/console/bitmap/page\")) {\n  const cmd = {\n    v: 1,\n    id: String(payload.id || `console-pages-${now}`).substring(0, 64),\n    page_index: clamp(payload.page_index || 0, 0, 20),\n    page_count: clamp(payload.page_count || 1, 1, 20),\n    w: clamp(payload.w || 128, 1, 128),\n    h: clamp(payload.h || 64, 1, 64),\n    format: String(payload.format || \"1bpp\"),\n    encoding: String(payload.encoding || \"base64\"),\n    duration_ms: clamp(payload.duration_ms || 6000, 6000, 30000),\n    source: String(payload.source || \"console\").substring(0, 32),\n    data: String(payload.data || \"\")\n  };\n  if (cmd.w !== 128 || cmd.h !== 64 || cmd.format !== \"1bpp\" || cmd.encoding !== \"base64\" || !cmd.data) {\n    return [null, null, httpJson({ ok: false, error: \"invalid bitmap page command\" }, 400)];\n  }\n  node.status({ fill: \"blue\", shape: \"ring\", text: `bitmap page ${cmd.page_index + 1}/${cmd.page_count}` });\n  return [[mqtt(\"bkb/desk1/cmd/bitmap/page\", cmd, false)], null, httpJson({ ok: true })];\n}\n\nif (msg.req && routeIs(\"/bkb/console/scene\", \"/mac-esp32/console/scene\")) {\n  const cmd = {\n    v: 1,\n    scene: String(payload.scene || \"\"),\n    duration_ms: clamp(payload.duration_ms || 5000, 500, 30000),\n    source: String(payload.source || \"console\").substring(0, 32)\n  };\n  if (!cmd.scene) return [null, null, httpJson({ ok: false, error: \"missing scene\" }, 400)];\n  node.status({ fill: \"purple\", shape: \"dot\", text: `scene ${cmd.scene}` });\n  return [[mqtt(\"bkb/desk1/cmd/scene\", cmd, false)], null, httpJson({ ok: true })];\n}\n\nif (msg.req && routeIs(\"/bkb/console/device\", \"/mac-esp32/console/device\")) {\n  const action = String(payload.action || \"\");\n  if (!action) return [null, null, httpJson({ ok: false, error: \"missing action\" }, 400)];\n  const cmd = { v: 1, action, source: \"console\" };\n  node.status({ fill: \"green\", shape: \"dot\", text: `device ${action}` });\n  return [[mqtt(\"bkb/desk1/cmd/device\", cmd, false)], null, httpJson({ ok: true })];\n}\n\nif (msg.req && routeIs(\"/bkb/console/netconfig\", \"/mac-esp32/console/netconfig\")) {\n  const cmd = {\n    v: 1,\n    ssid: String(payload.ssid || \"\"),\n    password: String(payload.password || \"\"),\n    mqtt_host: String(payload.mqtt_host || \"\"),\n    mqtt_port: clamp(payload.mqtt_port || 1883, 1, 65535),\n    source: \"console\"\n  };\n  if (!cmd.ssid || !cmd.mqtt_host) return [null, null, httpJson({ ok: false, error: \"missing ssid or mqtt_host\" }, 400)];\n  node.status({ fill: \"yellow\", shape: \"ring\", text: `netconfig ${cmd.mqtt_host}` });\n  return [[mqtt(\"bkb/desk1/cmd/netconfig\", cmd, false)], null, httpJson({ ok: true })];\n}\n\nif (msg.req) {\n  const e = String(payload.event || payload.bkb_event || \"\");\n  if (e === \"locked\") {\n    flow.set(\"bkb_v6_locked\", true);\n    const state = buildState({ locked: true });\n    node.status({ fill: \"grey\", shape: \"dot\", text: \"locked\" });\n    return [publishStateAndHeartbeat(state), { payload: \"refresh\" }, httpOk(\"LOCKED\")];\n  }\n  if (e === \"unlocked\") {\n    flow.set(\"bkb_v6_locked\", false);\n    const state = buildState({ locked: false });\n    node.status({ fill: \"green\", shape: \"dot\", text: \"unlocked\" });\n    return [publishStateAndHeartbeat(state), { payload: \"refresh\" }, httpOk(\"UNLOCKED\")];\n  }\n  if (e === \"app\") {\n    const app = String(payload.app || \"Unknown\").substring(0, 64);\n    flow.set(\"bkb_v6_app\", app);\n    const state = buildState({ app });\n    node.status({ fill: \"blue\", shape: \"dot\", text: `app ${app}` });\n    return [publishStateAndHeartbeat(state), null, httpOk(\"APP\")];\n  }\n  return [null, null, httpOk(\"IGNORED\")];\n}\n\nif (ev === \"status\") {\n  const s = payload || {};\n  if (typeof s.locked === \"boolean\") flow.set(\"bkb_v6_locked\", s.locked);\n  if (s.app) flow.set(\"bkb_v6_app\", String(s.app).substring(0, 64));\n  flow.set(\"bkb_v6_last_status\", s);\n  const state = buildState(s);\n  const out = publishConfigIfDue(false).concat(publishStateAndHeartbeat(state));\n  node.status({ fill: \"green\", shape: \"dot\", text: `${state.mode_hint} cpu ${state.cpu_pct}% temp ${state.temp_c ?? \"?\"}` });\n  return [out, null, null];\n}\n\nif (ev === \"tick\") {\n  const last = Number(flow.get(\"bkb_v6_last_status_ms\") || 0);\n  if (now - last >= STATUS_INTERVAL_MS) {\n    flow.set(\"bkb_v6_last_status_ms\", now);\n    return [publishConfigIfDue(false), { payload: \"refresh\" }, null];\n  }\n}\n\nreturn [null, null, null];\n",
    "outputs": 3,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 650,
    "y": 180,
    "wires": [
      [
        "bkb_mqtt_out_v6_lite"
      ],
      [
        "bkb_status_exec_v6_lite"
      ],
      [
        "bkb_http_resp_v6_lite"
      ]
    ]
  },
  {
    "id": "bkb_mqtt_out_v6_lite",
    "type": "mqtt out",
    "z": "bkb_tab_v6_lite",
    "name": "发布 v6 mac/state heartbeat config",
    "topic": "",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "bkb_mqtt_broker_v6_lite",
    "x": 1020,
    "y": 100,
    "wires": []
  },
  {
    "id": "bkb_pet_state_in_v6_lite",
    "type": "mqtt in",
    "z": "bkb_tab_v6_lite",
    "name": "ESP32 pet/state",
    "topic": "bkb/desk1/pet/state",
    "qos": "0",
    "datatype": "json",
    "broker": "bkb_mqtt_broker_v6_lite",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 180,
    "y": 660,
    "wires": [
      [
        "bkb_controller_v6_lite"
      ]
    ]
  },
  {
    "id": "bkb_pet_telemetry_in_v6_lite",
    "type": "mqtt in",
    "z": "bkb_tab_v6_lite",
    "name": "ESP32 pet/telemetry",
    "topic": "bkb/desk1/pet/telemetry",
    "qos": "0",
    "datatype": "json",
    "broker": "bkb_mqtt_broker_v6_lite",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 190,
    "y": 720,
    "wires": [
      [
        "bkb_controller_v6_lite"
      ]
    ]
  },
  {
    "id": "bkb_pet_online_in_v6_lite",
    "type": "mqtt in",
    "z": "bkb_tab_v6_lite",
    "name": "ESP32 online",
    "topic": "bkb/desk1/state/online",
    "qos": "0",
    "datatype": "auto",
    "broker": "bkb_mqtt_broker_v6_lite",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 780,
    "wires": [
      [
        "bkb_controller_v6_lite"
      ]
    ]
  },
  {
    "id": "bkb_status_exec_v6_lite",
    "type": "exec",
    "z": "bkb_tab_v6_lite",
    "command": "/Users/YOUR_MAC_USERNAME/bin/macbrain_status_v6.sh",
    "addpay": "",
    "append": "",
    "useSpawn": "false",
    "timer": "5",
    "winHide": false,
    "oldrc": false,
    "name": "采集 Mac 状态 v6",
    "x": 980,
    "y": 220,
    "wires": [
      [
        "bkb_status_json_v6_lite"
      ],
      [
        "bkb_exec_err_v6_lite"
      ],
      [
        "bkb_exec_rc_v6_lite"
      ]
    ]
  },
  {
    "id": "bkb_status_json_v6_lite",
    "type": "json",
    "z": "bkb_tab_v6_lite",
    "name": "解析状态 JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 1220,
    "y": 200,
    "wires": [
      [
        "bkb_status_mark_v6_lite"
      ]
    ]
  },
  {
    "id": "bkb_status_mark_v6_lite",
    "type": "function",
    "z": "bkb_tab_v6_lite",
    "name": "标记 status 事件",
    "func": "msg.bkb_event = \"status\";\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1440,
    "y": 200,
    "wires": [
      [
        "bkb_controller_v6_lite"
      ]
    ]
  },
  {
    "id": "bkb_http_resp_v6_lite",
    "type": "http response",
    "z": "bkb_tab_v6_lite",
    "name": "HTTP OK",
    "statusCode": "",
    "headers": {},
    "x": 970,
    "y": 320,
    "wires": []
  },
  {
    "id": "bkb_exec_err_v6_lite",
    "type": "debug",
    "z": "bkb_tab_v6_lite",
    "name": "状态脚本 stderr",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1220,
    "y": 260,
    "wires": []
  },
  {
    "id": "bkb_exec_rc_v6_lite",
    "type": "debug",
    "z": "bkb_tab_v6_lite",
    "name": "状态脚本 rc",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1210,
    "y": 320,
    "wires": []
  },
  {
    "id": "bkb_pet_state_in_v6_lite",
    "type": "mqtt in",
    "z": "bkb_tab_v6_lite",
    "name": "ESP32 pet/state",
    "topic": "bkb/desk1/pet/state",
    "qos": "0",
    "datatype": "auto",
    "broker": "bkb_mqtt_broker_v6_lite",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 320,
    "wires": [
      [
        "bkb_pet_state_dbg_v6_lite"
      ]
    ]
  },
  {
    "id": "bkb_pet_state_dbg_v6_lite",
    "type": "debug",
    "z": "bkb_tab_v6_lite",
    "name": "ESP32 Pet 状态",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 400,
    "y": 320,
    "wires": []
  }
]